<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <stape_gtm>
            <general>
                <same_origin_active>0</same_origin_active>
            </general>
            <domain_list>
                <url><![CDATA[https://publicsuffix.org/list/public_suffix_list.dat]]></url>
            </domain_list>
            <datalayer>
                <collection_size>30</collection_size>
                <stape_suffix_active>1</stape_suffix_active>
                <exclude_item_price_tax>0</exclude_item_price_tax>
                <use_display_currency>0</use_display_currency>
            </datalayer>
        </stape_gtm>
    </default>
</config>
