<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <stape_gtm>
            <domain_list>
                <url><![CDATA[https://publicsuffix.org/list/public_suffix_list.dat]]></url>
            </domain_list>
            <datalayer>
                <collection_size>30</collection_size>
                <stape_suffix_active>1</stape_suffix_active>
                <use_sku_as_item_id>0</use_sku_as_item_id>
            </datalayer>
        </stape_gtm>
    </default>
</config>
