<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <preference type="Stape\Gtm\Model\Data\ItemVariant" for="Stape\Gtm\Model\Data\ItemVariantInterface"/>
    <preference type="Stape\Gtm\Model\Api\Request\Request" for="Stape\Gtm\Model\Api\Request\RequestInterface"/>
</config>
