<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Stape_Gtm" schema_version="1.0.36" setup_version="1.0.36">
        <sequence>
            <module name="Magento_Backend" />
            <module name="Magento_Catalog" />
        </sequence>
    </module>
</config>
