<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <preference type="Stape\Gtm\Model\Data\SessionDataProvider" for="Stape\Gtm\Model\Data\DataProviderInterface"/>
    <preference type="Stape\Gtm\Model\Datalayer\Modifier\Pool" for="Stape\Gtm\Model\Datalayer\Modifier\PoolInterface"/>
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="stape_gtm_server_side_cookie" type="Stape\Gtm\Plugin\HttpPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="stape_gtm_customer" type="Stape\Gtm\Plugin\CustomerData\CustomerPlugin" />
    </type>
    <type name="Magento\Checkout\CustomerData\ItemPoolInterface">
        <plugin name="stape_gtm_item_data" type="Stape\Gtm\Plugin\CustomerData\ItemPoolPlugin" />
    </type>
    <type name="Magento\Csp\Observer\Render">
        <plugin name="stape_gtm_csp" type="Stape\Gtm\Plugin\CspObserverPlugin" />
    </type>
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="stape_gtm_customer_cart" type="Stape\Gtm\Plugin\CustomerData\CartPlugin" />
    </type>
    <type name="Magento\Checkout\Controller\Cart\Delete">
        <plugin name="stape_gtm_cart_delete" type="Stape\Gtm\Plugin\Checkout\Cart\DeletePlugin" />
    </type>
    <type name="Magento\Checkout\Controller\Sidebar\RemoveItem">
        <plugin name="stape_gtm_cart_item_remove" type="Stape\Gtm\Plugin\Checkout\Cart\DeletePlugin" />
    </type>
    <virtualType name="DataLayerCartModifierPool" type="Stape\Gtm\Model\Datalayer\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="cart_state" xsi:type="array">
                    <item name="class" xsi:type="string">Stape\Gtm\Model\Datalayer\Modifier\CartState</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Stape\Gtm\ViewModel\Checkout">
        <arguments>
            <argument name="modifierPool" xsi:type="object">DataLayerCartModifierPool</argument>
        </arguments>
    </type>
    <type name="Stape\Gtm\ViewModel\Cart">
        <arguments>
            <argument name="modifierPool" xsi:type="object">DataLayerCartModifierPool</argument>
        </arguments>
    </type>
</config>
