<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_save">
        <observer name="stape_gtm_system_config_save" instance="Stape\Gtm\Observer\Admin\ConfigSave" />
    </event>
</config>
