<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="stape" translate="label" sortOrder="500">
            <label>Stape</label>
        </tab>

        <section id="stape_gtm" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <class>separator-top</class>
            <label>Server Side GTM</label>
            <tab>stape</tab>
            <resource>Stape_Gtm::config</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="container_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                    <label>Web Container Id</label>
                    <depends>
                        <field id="stape_gtm/general/active">1</field>
                    </depends>
                    <comment>(ex. GTM-XXXXXXXX)</comment>
                </field>
                <field id="custom_domain" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                    <label>Custom Domain</label>
                    <comment>Leave empty to use default domain</comment>
                    <validate>validate-https-url</validate>
                </field>
                <field id="custom_loader" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                    <label>Custom Loader</label>
                    <comment>Leave empty to use default loader</comment>
                </field>
                <field id="cookie_keeper" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Cookie Keeper</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="datalayer" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Data Layer</label>
                <field id="ecom" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Add ecommerce Data Layer events</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="userdata" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Add user data to Data Layer events</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
            <group id="webhooks" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Webhooks</label>
                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enable Webhooks</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="gtm_container_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                    <label>GTM server container URL</label>
                    <validate>validate-url</validate>
                </field>
                <field id="purchase" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Purchase Webhook</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="refund" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Refund Webhook</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="test" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="button">
                    <label>Send test webhook</label>
                    <frontend_model>Stape\Gtm\Block\Adminhtml\System\Config\Webhook\Button\Test</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
